.list {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  span {
    color: grey;
  }
}

.card {
  margin: 20px;
}

.map {
  min-width: 600px;
  height: 500px;
}

.edit {
  width: 100%;
}
